.pc-home {
    width: 100%;
    height: 88.9%;
	top: 11%;
    left: 0%;
    background-color: #FFFFFF;
    position: absolute;
	overflow: auto;
	font-size: 100%;
}



/****************************************************/



.pc-home-bodya{
    width: 44%;
    height: 80%; 
	top: 19%;
    left: 5%;
    background-color: #FFFFFF;
    position: absolute;
}


.pc-home-bodya-img {
    width: 70%;
    height: 70%; 
	top: 10%;
    left: 10%;
    background-color: #FFFFFF;
	color: black;
    position: absolute;
	font-size: 200%
}



/**********************************************/


.pc-home-body-divider{
    width: 1px;
    height: 60%; 
	top: 20%;
    left: 50%;
    background-color: #D1D1D1;
    position: absolute;
}


/*********************************************/


.pc-home-bodyb{
    width: 44%;
    height: 80%; 
	top: 19%;
    left: 55%;
    background-color: #FFFFFF;
    position: absolute;
}


.pc-home-bodyb-text {
    width: 70%;
    height: 70%; 
	top: 10%;
    left: 10%;
    background-color: #FFFFFF;
	color: black;
    position: absolute;
	font-size: 200%
}




