.mb-status0 {
    width: 99.9%;
    height: 84.9%;
	top: 15%;
    left: 0%;
    background-color: #FFFFFF;
    position: absolute;
	font-size: 110%;
	overflow: auto;
	/*font-family:Helvetical;*/
	font-family:Lucida Sans Unicode;
}

/**/


.mb-status0-error-text {
    width: 90%;
	height: auto;
	top: auto;
    left: 5%;
    background-color: #FFFFFF;
	color: red;
    position: relative;
	font-size: 60%;
}


.mb-status0-heading {
    width: 90%;
    height: auto;
	top: auto;
    left: 5%;
    background-color: #FFFFFF;
	color: black;
    position: relative;
	font-weight: bold;
	font-size: 100%;
}


.mb-status0-body-text {
    width: 90%;
    height: auto;
	top: auto;
    left: 5%;
    background-color: #FFFFFF;
	color: black;
    position: relative;
	font-size: 100%;
}

.mb-status0-body-uname-0 {
    width: 2%;
    height: auto;
	top: auto;
    left: 3%;
	float: left;
    background-color: #FFFFFF;
	color: red;
    position: relative;
}
.mb-status0-body-uname-1 {
    width: 80%;
    height: auto;
	top: auto;
    left: 7%;
	background-color: #FFFFFF;
	color: black;
    position: relative;
	font-size: 90%;
}
.mb-status0-body-uname-2 {
    width: 60%;
    height: 30px; /*20px; 8%;*/
	top: auto;
    left: 5%;
	/* the next 4 lines is to make sure we have borders on all browsers*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #B8B8B8; /*10px solid #8AC007; #FF606E;*/
	color: black;
    position: relative;
	font-size: 90%;
}
.mb-status0-body-pword-0 {
    width: 2%;
    height: auto;
	top: auto;
    left: 3%;
	float: left;
    background-color: #FFFFFF;
	color: red;
    position: relative;
}
.mb-status0-body-pword-1 {
    width: 80%;
    height: auto;
	top: auto;
    left: 7%;
	background-color: #FFFFFF;
	color: black;
    position: relative;
	font-size: 90%;
}
.mb-status0-body-pword-2 {
    width: 60%;
    height: 30px; /*20px; 8%;*/
	top: auto;
    left: 5%;
	/* the next 4 lines is to make sure we have borders on all browsers*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #B8B8B8; /*10px solid #8AC007; #FF606E;*/
	color: black;
    position: relative;
	font-size: 90%;
}
.mb-status0-body-submit {
    width: 40%;
    height: 40px; 
	top: auto;
    left: 5%;
    background-color: #7B68EE;
	/* the next 4 lines is to make sure we have borders on all browsers*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #B8B8B8; /*10px solid #8AC007; #FF606E;*/
	color: #FFFFFF;
    position: relative;
}


.mb-status0-footer {
    width: 100%;
    height: auto;
	top: auto;
    left: 0%;
    color: black;
	background-color: #E4E4E4;
    position: relative;
}


/***************************************************/
/******************This is common to all***********/
/***************************************************/
.mb-status0-space {
    width: 99%;
    height: 10px; 
	top: auto;
    left: 0%;
    background-color: #FFFFFF;
    position: relative;
}